{{# if hasMessages}}
  <div class="messages-container">
    <div class="panel-group" id="accordion">
      {{# unless headerData.unreadMessages}}
      <h4>No new Messages</h4>
      {{else}}
      <h4>Unread messages:</h4>
      {{/unless}}
      {{# each messages}}
      {{# unless this.seen}}
      <div class="panel panel-default">
        <div class="panel-heading unseen" data-id="{{this.id}}">
          <h4 class="panel-title row" data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.num}}">
            <span class="col-md-2 col-md-offset-1">From: <strong>{{this.sendBy}}</strong></span>
            <span class="col-md-3 col-md-offset-1">Regarding: <strong>{{this.about}}</strong></a></span>
            <span class="col-md-3 col-md-offset-2 hidden-sm-12"> Date: <strong>{{this.date}}</strong></span>
          </h4>
        </div>
        <div id="collapse{{this.num}}" class="panel-collapse collapse clearfix">
          <div class="panel-body">{{this.content}}</div>
          <form action="/message/response/{{this.sendById}}/{{this.aboutId}}">
            <button class="btn btn-primary pull-right response">Response</button>
          </form>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="panel-group" id="accordion2">
      <h4>Read messages:</h4>
      {{# each messages}}
      {{# if this.seen}}
        <div class="panel panel-default">
          <div class="panel-heading messave-hover">
            <h4 class="panel-title row" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{this.num}}">
              <span class="col-xs-4 col-md-2 col-md-offset-1">From: <strong>{{this.sendBy}}</strong></span>
              <span class="col-xs-4 col-md-2 col-md-offset-1">Regarding: <strong>{{this.about}}</strong></span>
              <span class="hidden-xs col-md-3 col-md-offset-3"> Date: <strong>{{this.date}}</strong></span>
            </h4>
          </div>
          <div id="collapse{{this.num}}" class="panel-collapse collapse clearfix">
            <div class="panel-body">{{this.content}}</div>
            <form action="/message/response/{{this.sendById}}/{{this.about}}">
              <button class="btn btn-primary pull-right response">Response</button>
            </form>
          </div>
        </div>
      {{/if}}
    {{/each}}
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="col-md-3 col-md-offset-2 col-xs-2 col-xs-offset-2"></div>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-lg">
      {{# if previous}}
      <li><a href="{{previousValue}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a></li>
      {{/if}}
      {{# if pages}}
      {{# each pages}}
      <li><a href="{{this.url}}">{{this.number}}</a></li>
      {{/each}}
      {{/if}}
      {{# if next}}
      <li><a href="{{nextValue}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a></li>
      {{/if}}
    </ul>
  </nav>
</div>
{{# if noMessages}}
<div class="row">
  <h2 class="col-md-6 col-md-offset-4">No messages</h2>
</div>
{{/if}}