{{# if data}}
<div class="row">
  <div class="col-xs-12 col-md-6 animalProfile">  
    <img class="img-responsive animal-image" src="/{{data.imagePath}}" alt="">
  </div>
  <div class="col-xs-12 col-md-6">  
    <p>name: {{data.name}}</p>
    <p>Age: {{data.years}} years {{data.months}} months old</p>
    <p>Description: {{data.description}}</p>
  </div>
  {{# if notOwner}}
    {{# if login}}
    <form action="/message/send/{{data._id}}">
      <button class="btn btn-primary">Send</button>
    </form>
    {{/if}}
  {{/if}}
</div>
{{/if}}
