{{# if data}}
<div class="row">
  <div class="col-xs-12 col-md-6 animalProfile">  
    <img class="img-responsive animal-image" src="/{{data.imagePath}}" alt="">
  </div>
  <div class="col-xs-12 col-md-6">  
    <p>name: {{data.name}}</p>
    <p>Age: {{data.years}} years {{data.months}} months old</p>
    <p>Description: {{data.description}}</p>
  </div>
  {{# if notOwner}}
    {{# if login}}
    <form action="/message/send/{{data._id}}">
      <button class="btn btn-primary">Send</button>
    </form>
    <form action="/animal/add" method="POST" enctype="multipart/form-data">
      <label for="images" class="myLabel">
      <input type="file" id="images", name="images" class="form-control">
      <span>Upload images</span>
    </form>
    {{/if}}
  {{/if}}
</div>
{{/if}}
