{{# if hasMessage}}
  {{# if success}}
  <div class="alert alert-success">
      <p>{{success}}</p>
  </div>
  {{/if}}
  {{# if fail}}
  <div class="alert alert-danger">
      <p>{{fail}}</p>
  </div>
  {{/if}}
{{/if}}
<div class="row">
  <div class="col-xs-12 col-md-4 animalProfile">  
    <img class="img-responsive animal-image" src="/{{data.imagePath}}" alt="">
  </div>
  <form action="#" class="col-xs-12 col-md-8">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" name="name" value="{{data.name}}">
    </div>
    <div class="form-group">
      <label for="yeas">years</label>
      <input type="number" name="yeas" value="{{data.years}}">
      <label for="months">months</label>
      <input type="number" name="months" value="{{data.months}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label><br>
      <textarea name="description" id="description" cols="55" rows="10">{{data.description}}</textarea>
    </div>
  </form>
  <form action="/animal/add-images/{{data.id}}" method="POST" enctype="multipart/form-data">
    <label for="images">
    <span>Upload images</span>
    <input type="file" multiple="multiple" id="images", name="images" class="form-control">
    <button type="submit" class="btn btn-primary">send</button>
  </form>
</div>
