{{# if hasMessage}}
  {{# if success}}
  <div class="alert alert-success">
      <p>{{success}}</p>
  </div>
  {{/if}}
  {{# if fail}}
  <div class="alert alert-danger">
      <p>{{fail}}</p>
  </div>
  {{/if}}
{{/if}}
<div class="row">
  <div class="col-xs-12 col-md-4 animalProfile">
    <input type="hidden" data-id={{data.id}}>
    <img class="img-responsive animal-image" src="/{{data.imagePath}}" alt="">
    <form action="/animal/add-images/{{data.id}}" method="POST" enctype="multipart/form-data">
      <label for="images">
      <span>Upload images</span>
      <input type="file" multiple="multiple" id="images", name="images" class="form-control">
      <button type="submit" class="btn btn-primary">send</button>
    </form>
  </div>
  <form action="#" class="col-xs-12 col-md-8 animalForm">
    <div class="form-group">
      <label for="name">Name: <span>{{data.name}}</span> <i class="fa fa-pencil btn btn-warning" aria-hidden="true"></i></label>
      <input type="text" name="name" value="{{data.name}}" class="hide">
    </div>
    <div class="form-group">
      <label for="years">years: <span>{{data.years}}</span> <i class="fa fa-pencil btn btn-warning" aria-hidden="true"></i></label>
      <input type="number" name="years" value="{{data.years}}" class="hide">
      <br>
      <label for="months">months: <span>{{data.months}}</span> <i class="fa fa-pencil btn btn-warning" aria-hidden="true"></i></label>
      <input type="number" name="months" value="{{data.months}}" class="hide">
    </div>
    <div class="form-group">
      <label for="description">Description: <span>{{data.description}}</span> <i class="fa fa-pencil btn btn-warning" aria-hidden="true"></i></label>
      <textarea name="description" id="description" cols="55" rows="10" class="hide textarea">{{data.description}} </textarea>
    </div>
    <button class="btn btn-success edit-save" id="animal-edit">Save</button>
  </form>
</div>
